odoo-addon-mass_mailing_partner @ git+https://github.com/OCA/social.git@refs/pull/1084/head#subdirectory=setup/mass_mailing_partner
odoo-addon-mass_mailing_contact_active @ git+https://github.com/OCA/social.git@refs/pull/1095/head#subdirectory=setup/mass_mailing_contact_active
